.page {
  width: 1280px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.content {
  margin: 20px auto 0;
}

.absenceRequest {
  display: flex;
  justify-content: flex-end;
}
.absenceBtn {
  width: 100px;
  height: 25px;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  margin-bottom: 8px;
  line-height: 25px;
}
.absenceBtn:hover {
  cursor: pointer;
}

.searchWrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.searchInput {
  width: 180px;
  height: 25px;
  box-sizing: border-box;
  line-height: 25px;
  padding-left: 5px;
  border-radius: 4px;
  border: 1px solid #000;
}
.typeSelect {
  width: 130px;
  height: 25px;
  box-sizing: border-box;
  line-height: 25px;
  margin-left: 8px;
  border-radius: 4px;
  border: 1px solid #000;
}
.searchBtn {
  border: none;
  background-color: transparent;
}
.searchBtn:hover {
  cursor: pointer;
}
.searchIcon {
  width: 18px;
  height: 18px;
  padding-top: 3px;
  margin-left: 8px;
}

.absenceList {
  width: 100%;
  line-height: 39px;
  margin: 42px auto 0;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}
.absenceList th {
  background-color: #f2f2f2;
  border: none;
  font-weight: bold;
  font-size: 110%;
}
.absenceList th:first-child,
.absenceList td:first-child {
  padding-left: 10px;
}


.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.pagination .pageBtn {
  display: flex;
  margin-right: 6px;
}
.pagination .pageBtn:last-child {
  margin-right: 0;
}
.pagination .pageBtn a {
  text-decoration: none;
  width: 33px;
  height: 33px;
  box-sizing: border-box;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .pageBtn.active a {
  color: #fff;
  border-color: #000;
  background-color: #000;
}


.modal {
  display: none;
}
.modalBack {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
}
.modal .closeBtn {
  position: absolute;
  top: 15px;
  right: 10px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.modal .closeBtn img {
  width: 31px;
  height: 31px;
}

.modalPopup {
  width: 535px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  border-radius: 25px;
  z-index: 1;
  box-sizing: border-box;
  background-color: #fff;
  padding: 30px;
}
.modalPopup .formWrap {
  padding: 50px 30px 0;
}
.modalPopup .formList {
  display: flex;
  margin-bottom: 30px;
}
.modalPopup .formList .label {
  width: 72px;
  font-weight: bold;
  font-size: 110%;
  margin-right: 50px;
}
.modalPopup .formList .reqType,
.modalPopup .formList .dateTime,
.modalPopup .formList .reqContent {
  width: calc(100% - 122px);
  max-width: 290px;
  box-sizing: border-box;
}
.modalPopup .formList .reqType {
  border: 1px solid #000;
  border-radius: 4px;
}
.modalPopup .formList .dateTime {
  display: flex;
  gap: 6px;
}
.modalPopup .formList .dateTime input {
  width: 50%;
  max-width: 142px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 4px;
  padding-left: 5px;
}
.modalPopup .formList .reqContent {
  height: 150px;
  outline: none;
  resize: none;
  border: 1px solid #000;
  border-radius: 4px;
  padding-left: 5px;
}
.modalPopup .submitBtn {
  width: 72px;
  height: 30px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}
.modalPopup .submitBtn:hover {
  cursor: pointer;
}


@media (max-width: 1280px) {
  .page {
    width: 90%;
    margin: 0 auto;
  }

  .absenceList th:first-child,
  .absenceList th:last-child,
  .absenceList td:first-child,
  .absenceList td:last-child {
      display: none;
  }
  
  .absenceList th:nth-child(2),
  .absenceList td:nth-child(2) {
    padding-left: 10px;
  }

  .modalPopup {
    width: 90%;
    max-width: 535px;
  }

}