body{
  -ms-overflow-style: none;
}

 ::-webkit-scrollbar {
   display: none;
}

.absenceRequest {
  display: flex;
  justify-content: flex-end;
}
.absenceBtn {
  width: 100px;
  height: 25px;
  box-sizing: border-box;
  border: none;
  margin-bottom: 8px;
  line-height: 25px;
}

.searchWrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.typeSelect {
  margin: 0 5px;
}
.searchIcon {
  width: 18px;
  height: 18px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.pagination .pageBtn {
  display: flex;
  margin-right: 6px;
}
.pagination .pageBtn:last-child {
  margin-right: 0;
}
.pagination .pageBtn button {
  text-decoration: none;
  width: 33px;
  height: 33px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: none;
}
.modalBack {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
}
.modal .closeBtn {
  position: absolute;
  top: 15px;
  right: 10px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.modal .closeBtn img {
  width: 31px;
  height: 31px;
}

.modalPopup {
  width: 535px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  z-index: 1;
  box-sizing: border-box;
  background-color: var(--bg-front);
  padding: 30px;
}
.modalPopup .formWrap {
  padding: 50px 30px 0;
}
.modalPopup .formList {
  display: flex;
  margin-bottom: 30px;
}
.modalPopup .formList .label {
  width: 76px;
  font-weight: bold;
  font-size: 110%;
  margin-right: 50px;
}
.modalPopup .formList .reqType,
.modalPopup .formList .dateTime,
.modalPopup .formList .reqContent {
  width: calc(100% - 125px);
  max-width: 290px;
  box-sizing: border-box;
}
.modalPopup .formList .dateTime {
  display: flex;
  gap: 6px;
}
.modalPopup .formList .dateTime input {
  width: 50%;
  max-width: 140px;
  min-width: 95px;
  box-sizing: border-box;
}
.modalPopup .formList .reqContent {
  height: 150px;
  outline: none;
  resize: none;
}
.modalPopup .submitBtn {
  width: 72px;
  height: 30px;
  border: none;
  display: block;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .absenceList th:first-child,
  .absenceList th:last-child,
  .absenceList td:first-child,
  .absenceList td:last-child {
    display: none;
  }

  .modalPopup {
    width: 90%;
    max-width: 535px;
  }
}
