table {
    width: 100%;
    line-height: 45px;
    margin: 20px auto 0;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}
table th {
    font-size: var(--fs-body);
    font-weight: var(--fw-head);
    border-bottom: 1px solid var(--line-light);
}
table tr {
    font-size: var(--fs-body);
    font-weight: var(--fw-body);
    border-bottom: 1px solid var(--line-light);
}