.list-item {
    width: 25%;
    padding-left: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
}

.thumbnail-box {
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    background-color: var(--point-gray);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.thumbnail-box.noimg::before {
    content: 'No Image';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-box {
    padding: 12px 5px 10px;
    background-color: var(--bg-front);
    border: 1px solid var(--line-light);
    border-top: none;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.title {
    font-size: var(--fs-body-sm);
    font-weight: var(--fw-body-lg);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 10px;
}

.content {
    font-size: 12px;
    font-weight: var(--fw-body);
    margin-bottom: 10px;
    height: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.date {
    font-size: 11px;
    font-weight: var(--fw-body);
    text-align: right;
}

@media (max-width: 1280px) {
    .list-item {
        width: 50%;
        padding-left: 14px;
        margin-bottom: 14px;
    }
}