.searchWrap {
  display: flex;
  justify-content: flex-end;
}
.typeSelect {
  margin: 0 5px;
}
.searchBtn {
  border: none;
  background-color: transparent;
}
.searchBtn:hover {
  cursor: pointer;
}
.searchIcon {
  width: 18px;
  height: 18px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.pagination .pageBtn {
  display: flex;
}
.pagination .pageBtn:first-child > button{
  margin-left: 0;
}
.pagination .pageBtn button {
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 1280px) {
  .absenceList th:first-child,
  .absenceList th:nth-child(4),
  .absenceList td:first-child,
  .absenceList td:nth-child(4) {
    display: none;
  }

}
